@font-face {
    font-family: 'UndertaleFont';
    src: url('/Fonts/pixelfont/joystix.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'UndertaleFont';
  }
  
  html, body, main, #__next{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: none;
  }


